@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 10%;
    --foreground: 220 17% 96%;
    --card: 220 10% 12%;
    --card-foreground: 220 17% 96%;
    --popover: 220 10% 10%;
    --popover-foreground: 220 17% 96%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 18%;
    --secondary-foreground: 220 17% 96%;
    --muted: 220 10% 18%;
    --muted-foreground: 220 10% 55%;
    --accent: 273 76% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 18%;
    --input: 220 10% 18%;
    --ring: 197 76% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 220 17% 96%;
    --card: 220 10% 12%;
    --card-foreground: 220 17% 96%;
    --popover: 220 10% 10%;
    --popover-foreground: 220 17% 96%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 18%;
    --secondary-foreground: 220 17% 96%;
    --muted: 220 10% 18%;
    --muted-foreground: 220 10% 55%;
    --accent: 273 76% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 18%;
    --input: 220 10% 18%;
    --ring: 197 76% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
